
{% for vrf in vrfs %}
vrf {{ vrf }}
  vni 300{{ vrfs[vrf] }}
{% endfor %}
!
router bgp {{ racks[devices[inventory_hostname].rack].bgp.asn }}
 bgp router-id {{ devices[inventory_hostname].loopback|ipaddr('address') }}
 neighbor underlay peer-group
 neighbor underlay remote-as external
{% for interface in fabric_links %}
 neighbor {{ interface }} interface peer-group underlay
{% endfor %}
 neighbor peerlink.4094 interface remote-as internal
 !
 address-family ipv4 unicast
  redistribute connected
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor underlay activate
  advertise-all-vni
 {% if 'service' in group_names %}
  advertise-default-gw
 {% endif %}
 exit-address-family
!
{% for vrf in vrfs %}
router bgp {{ racks[devices[inventory_hostname].rack].bgp.asn }} vrf {{ vrf }}
 bgp router-id {{ devices[inventory_hostname].loopback|ipaddr('address') }}
 !
 address-family ipv4 unicast
  redistribute static
 exit-address-family
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
 exit-address-family
{% endfor %}